body{
    font-family: 'Montserrat', sans-serif;
}

.azul1{
    background: #2C3E50;
}

.turquesa{
    background: #18BC9C;
}

.blanco{
    background: #fff;
}

.azul2{
    background: #1A252F;
}

.gris{
    background: #495057;
}

h1 {
    font-size: 76px;
}

h2 {
    font-size: 76px;
}

.letra_blanca{
    color: #fff;
}

.letra_azul1{
    color: #2C3E50;
}

#navegacion-principal{
    color: #fff;
    padding: 15px 20px 15px 50px;
    display: flow-root;
}

#navegacion-principal a{
    color: #fff;
    text-decoration: none;
    margin-right: 30px;
}

.logo{
    font-size: 32px;
}

.navegacion{
    font-size: 16px;
    padding-top: 10px;
}

.flotar-izquierda{
    float: left;
}

.flotar-derecha{
    float: right;
}

#banner_principal{
    min-height: 450px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 50px;
}

.img-contenedor{
    display: flex;
    justify-content: center;
}

.contenedor-texto-centrado {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.tamaño_letra{
    font-size: 28px;
}

#portafolio{
    min-height: 600px;
}

.contenedor_imgs_row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contenedor_colum{
    display: flex;
    flex-direction: column;
    flex: 33%;
    max-width: 33%; 
}

.contenedor_colum img{
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    width: 90%;
}

.margen-inferior{
    margin-bottom: 65px;
}

#about{
    min-height: 500px;
    margin-top: 150px;
}

.contenedor-about{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.margen-about{
    margin-top: 30px;
    margin-bottom: 15px;
}

.contenedor-parrafos-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.parrafos-colum{
    display: flex;
    flex-direction: column;
    flex: 50%;
    max-width: 50%; 
}

.parrafos-colum p{
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    width: 80%;
    line-height: 55px;
    text-align: center;
}

.lato{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.download-container{
    min-height: 100px;
    margin-top: 100px;  
}

.download-container a{
    display: block;
    width: 139px;
    padding: 20px 30px;
    margin: 0 auto;
    text-decoration: none;
    border-style: solid;
    border-radius: 6px;
    border-width: 2px;
    border-color: #fff;
}

#contact{
    min-height: 500px;
    margin-top: 50px;
}

form{
    width: 40%;  
    padding-left: 30px;
}
form div{
    margin-bottom: 40px;                
}

form input{
    width: 100%;
    height: 50px;
    border-top-style: hidden; 
    border-right-style: hidden; 
    border-left-style: hidden;
    border-bottom: 3px solid #495057;
}

::placeholder{
    color: #495057;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

form textarea{
    width: 100%;
    border-top-style: hidden; 
    border-right-style: hidden; 
    border-left-style: hidden;
    border-bottom: 3px solid #495057;
}